
@tailwind utilities;
@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700;800&display=swap");

@layer base {
  body {
    font-family: "Urbanist", sans-serif;
  }
}

/* Custom scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the scrollbar thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the track */
}

/* In your global styles, or in a custom CSS file */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #000; /* Black color */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light background color for track */
}